In [166]:
import pandas as pd
import numpy as np

In [237]:
file_path = '../CapStone/ForeignEx/data/'
file_path_us = file_path + 'US'
file_path_eu = file_path + 'EU'
df_us_cpi = pd.read_csv('../CapStone/ForeignEx/data/US/US_CPI_SeriesReport_monthly_2019_1947.csv', sep='\t')
df_us_ir = pd.read_csv('../CapStone/ForeignEx/data/US/US_Month_Treasury_Constant_Maturity_Rate.csv')
df_us_ie = pd.read_csv('../CapStone/ForeignEx/data/US/usa_iexport.tsv', sep='\t', header=None)

In [238]:
df_us_ie_2k5 = df_us_ie[ df_us_ie[0] >= 2005]

In [239]:
df_us_ie_2k5.head()
df_us_jpn_ie = df_us_ie[(df_us_ie[1] == 'jpn') | (df_us_ie[2] == 'jpn')]
# df_us_jpn_ie.head()

In [240]:
df_us_jpn_ie[4] = df_us_jpn_ie[4].fillna(value=0)
df_us_jpn_ie.head()
df_us_jpn_ie[5] = df_us_jpn_ie[5].fillna(value=0)
df_us_jpn_ie.head()

C:\Users\OrsonKong\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
C:\Users\OrsonKong\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

          0    1    2      3           4            5
51079  1998  jpn  usa  10111   584310.00  23397947.55
51080  1998  jpn  usa  10119  2064390.17   3281269.00
51081  1998  jpn  usa  10210   436842.08   2565999.03
51082  1998  jpn  usa  10290   632268.00      8938.67
51083  1998  jpn  usa  10310        0.00    351447.43

In [241]:
gby = df_us_jpn_ie.groupby([0,1,2]).sum().reset_index()

In [242]:
df_us_jpn_his = gby[::2].reset_index()

In [243]:
#### df_us_ir
# df_us_ir['year']=df_us_ir['DATE'].apply(lambda x: int(x[:4]))
df_us_ir['year']=df_us_ir['DATE'].apply(lambda x: int(x[:4]))

df_us_ir

            DATE USintRate  year
0     2001/07/31      3.67  2001
1     2001/08/01      3.65  2001
2     2001/08/02      3.65  2001
3     2001/08/03      3.63  2001
4     2001/08/06      3.62  2001
5     2001/08/07      3.63  2001
6     2001/08/08      3.61  2001
7     2001/08/09      3.61  2001
8     2001/08/10      3.58  2001
9     2001/08/13      3.57  2001
10    2001/08/14      3.54  2001
11    2001/08/15      3.52  2001
12    2001/08/16      3.48  2001
13    2001/08/17      3.46  2001
14    2001/08/20      3.48  2001
15    2001/08/21      3.46  2001
16    2001/08/22      3.46  2001
17    2001/08/23      3.49  2001
18    2001/08/24      3.49  2001
19    2001/08/27      3.52  2001
20    2001/08/28      3.53  2001
21    2001/08/29      3.48  2001
22    2001/08/30      3.41  2001
23    2001/08/31       3.4  2001
24    2001/09/03         .  2001
25    2001/09/04      3.43  2001
26    2001/09/05      3.49  2001
27    2001/09/06      3.44  2001
28    2001/09/07       3.4  2001
29    2001/09/10       3.4  2001
...          ...       ...   ...
4523  2018/11/30      2.31  2018
4524  2018/12/03       2.3  2018
4525  2018/12/04      2.37  2018
4526  2018/12/05         .  2018
4527  2018/12/06      2.36  2018
4528  2018/12/07      2.32  2018
4529  2018/12/10      2.32  2018
4530  2018/12/11      2.28  2018
4531  2018/12/12       2.3  2018
4532  2018/12/13      2.36  2018
4533  2018/12/14      2.36  2018
4534  2018/12/17      2.36  2018
4535  2018/12/18      2.35  2018
4536  2018/12/19      2.35  2018
4537  2018/12/20      2.42  2018
4538  2018/12/21      2.41  2018
4539  2018/12/24      2.42  2018
4540  2018/12/25         .  2018
4541  2018/12/26      2.41  2018
4542  2018/12/27      2.43  2018
4543  2018/12/28      2.39  2018
4544  2018/12/31      2.44  2018
4545  2019/01/01         .  2019
4546  2019/01/02       2.4  2019
4547  2019/01/03      2.42  2019
4548  2019/01/04       2.4  2019
4549  2019/01/07      2.42  2019
4550  2019/01/08       2.4  2019
4551  2019/01/09       2.4  2019
4552  2019/01/10      2.42  2019

[4553 rows x 3 columns]

In [244]:
df_us_ir['year']=df_us_ir['DATE'].apply(lambda x: int(x[:4]))
df_us_ir.info()
df_us_ir.head()
#ser = df_us_ir.set_index('year')['VALUE']

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4553 entries, 0 to 4552
Data columns (total 3 columns):
DATE         4553 non-null object
USintRate    4553 non-null object
year         4553 non-null int64
dtypes: int64(1), object(2)
memory usage: 106.8+ KB

         DATE USintRate  year
0  2001/07/31      3.67  2001
1  2001/08/01      3.65  2001
2  2001/08/02      3.65  2001
3  2001/08/03      3.63  2001
4  2001/08/06      3.62  2001

In [245]:
# df_us_ir['VALUE'].apply(lambda x:float(x))
# df_us_ir.VALUE = df_us_ir.VALUE.astype(float)
# df_us_ir.VALUE.describe()
# df_us_ir['VALUE'] = df_us_ir['VALUE'].astype(float)
# df_us_ir = pd.read_csv('../CapStone/ForeignEx/data/US/US_Month_Treasury_Constant_Maturity_Rate.csv')

df_us_ir = df_us_ir[~(df_us_ir['USintRate'] == '.')]
df_us_ir['USintRate'] = df_us_ir['USintRate'].astype(float)

df_us_ir.groupby('DATE').mean()
df_us_ir['YEAR']=df_us_ir['DATE'].apply(lambda x: int(x[:4]))
df_us_ir_his = df_us_ir.groupby('YEAR').mean()

C:\Users\OrsonKong\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\OrsonKong\Anaconda3\lib\site-packages\ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # This is added back by InteractiveShellApp.init_path()

In [246]:
df_us_cpi = df_us_cpi[10:].reset_index()

In [247]:
df_us_cpi.columns = df_us_cpi.iloc[0]
df_us_cpi = df_us_cpi.drop(0).reset_index()

In [248]:
# df_us_cpi.drop(['0,1], axis=1)
df_us_cpi

,index,10,Year,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec,HALF1,HALF2
0,1,11,1947,21.48,21.62,22,22,21.95,22.08,22.23,22.4,22.84,22.91,23.06,23.41,NaN,NaN
1,2,12,1948,23.68,23.67,23.5,23.82,24.01,24.15,24.4,24.43,24.36,24.31,24.16,24.05,NaN,NaN
2,3,13,1949,24.01,23.91,23.91,23.92,23.91,23.92,23.7,23.7,23.75,23.67,23.7,23.61,NaN,NaN
3,4,14,1950,23.51,23.61,23.64,23.65,23.77,23.88,24.07,24.2,24.34,24.5,24.6,24.98,NaN,NaN
4,5,15,1951,25.38,25.83,25.88,25.92,25.99,25.93,25.91,25.86,26.03,26.16,26.32,26.47,NaN,NaN
5,6,16,1952,26.45,26.41,26.39,26.46,26.47,26.53,26.68,26.69,26.63,26.69,26.69,26.71,NaN,NaN
6,7,17,1953,26.64,26.59,26.63,26.69,26.7,26.77,26.79,26.85,26.89,26.95,26.85,26.87,NaN,NaN
7,8,18,1954,26.94,26.99,26.93,26.86,26.93,26.94,26.86,26.85,26.81,26.72,26.78,26.77,NaN,NaN
8,9,19,1955,26.77,26.82,26.79,26.79,26.77,26.71,26.76,26.72,26.85,26.82,26.88,26.87,NaN,NaN
9,10,20,1956,26.83,26.86,26.89,26.93,27.03,27.15,27.29,27.31,27.35,27.51,27.51,27.63,NaN,NaN
10,11,21,1957,27.67,27.8,27.86,27.93,28,28.11,28.19,28.28,28.32,28.32,28.41,28.47,NaN,NaN
11,12,22,1958,28.64,28.7,28.87,28.94,28.94,28.91,28.89,28.94,28.91,28.91,28.95,28.97,NaN,NaN
12,13,23,1959,29.01,29,28.97,28.98,29.04,29.11,29.15,29.18,29.25,29.35,29.35,29.41,NaN,NaN
13,14,24,1960,29.37,29.41,29.41,29.54,29.57,29.61,29.55,29.61,29.61,29.75,29.78,29.81,NaN,NaN
14,15,25,1961,29.84,29.84,29.84,29.81,29.84,29.84,29.92,29.94,29.98,29.98,29.98,30.01,NaN,NaN
15,16,26,1962,30.04,30.11,30.17,30.21,30.24,30.21,30.22,30.28,30.42,30.38,30.38,30.38,NaN,NaN
16,17,27,1963,30.44,30.48,30.51,30.48,30.51,30.61,30.69,30.75,30.72,30.75,30.78,30.88,NaN,NaN
17,18,28,1964,30.94,30.91,30.94,30.95,30.98,31.01,31.02,31.05,31.08,31.12,31.21,31.25,NaN,NaN
18,19,29,1965,31.28,31.28,31.31,31.38,31.48,31.61,31.58,31.55,31.62,31.65,31.75,31.85,NaN,NaN
19,20,30,1966,31.88,32.08,32.18,32.28,32.35,32.38,32.45,32.65,32.75,32.85,32.88,32.92,NaN,NaN
20,21,31,1967,32.9,33,33,33.1,33.1,33.3,33.4,33.5,33.6,33.7,33.9,34,NaN,NaN
21,22,32,1968,34.1,34.2,34.3,34.4,34.5,34.7,34.9,35,35.1,35.3,35.4,35.6,NaN,NaN
22,23,33,1969,35.7,35.8,36.1,36.3,36.4,36.6,36.8,36.9,37.1,37.3,37.5,37.7,NaN,NaN
23,24,34,1970,37.9,38.1,38.3,38.5,38.6,38.8,38.9,39,39.2,39.4,39.6,39.8,NaN,NaN
24,25,35,1971,39.9,39.9,40,40.1,40.3,40.5,40.6,40.7,40.8,40.9,41,41.1,NaN,NaN
25,26,36,1972,41.2,41.4,41.4,41.5,41.6,41.7,41.8,41.9,42.1,42.2,42.4,42.5,NaN,NaN
26,27,37,1973,42.7,43,43.4,43.7,43.9,44.2,44.2,45,45.2,45.6,45.9,46.3,NaN,NaN
27,28,38,1974,46.8,47.3,47.8,48.1,48.6,49,49.3,49.9,50.6,51,51.5,51.9,NaN,NaN
28,29,39,1975,52.3,52.6,52.8,53,53.1,53.5,54,54.2,54.6,54.9,55.3,55.6,NaN,NaN
29,30,40,1976,55.8,55.9,56,56.1,56.4,56.7,57,57.3,57.6,57.9,58.1,58.4,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43,44,54,1990,127.5,128,128.6,128.9,129.1,129.9,130.5,131.6,132.5,133.4,133.7,134.2,NaN,NaN
44,45,55,1991,134.7,134.8,134.8,135.1,135.6,136,136.2,136.6,137,137.2,137.8,138.2,NaN,NaN
45,46,56,1992,138.3,138.6,139.1,139.4,139.7,140.1,140.5,140.8,141.1,141.7,142.1,142.3,NaN,NaN
46,47,57,1993,142.8,143.1,143.3,143.8,144.2,144.3,144.5,144.8,145,145.6,146,146.3,NaN,NaN
47,48,58,1994,146.3,146.7,147.1,147.2,147.5,147.9,148.4,149,149.3,149.4,149.8,150.1,NaN,NaN
48,49,59,1995,150.5,150.9,151.2,151.8,152.1,152.4,152.6,152.9,153.1,153.5,153.7,153.9,NaN,NaN
49,50,60,1996,154.7,155,155.5,156.1,156.4,156.7,157,157.2,157.7,158.2,158.7,159.1,NaN,NaN
50,51,61,1997,159.4,159.7,159.8,159.9,159.9,160.2,160.4,160.8,161.2,161.5,161.7,161.8,NaN,NaN
51,52,62,1998,162,162,162,162.2,162.6,162.8,163.2,163.4,163.5,163.9,164.1,164.4,NaN,NaN
52,53,63,1999,164.7,164.7,164.8,165.9,166,166,166.7,167.1,167.8,168.1,168.4,168.8,NaN,NaN
53,54,64,2000,169.3,170,171,170.9,171.2,172.2,172.7,172.7,173.6,173.9,174.2,174.6,NaN,NaN
54,55,65,2001,175.6,176,176.1,176.4,177.3,177.7,177.4,177.4,178.1,177.6,177.5,177.4,NaN,NaN
55,56,66,2002,177.7,178,178.5,179.3,179.5,179.6,180,180.5,180.8,181.2,181.5,181.8,NaN,NaN
56,57,67,2003,182.6,183.6,183.9,183.2,182.9,183.1,183.7,184.5,185.1,184.9,185,185.5,NaN,NaN
57,58,68,2004,186.3,186.7,187.1,187.4,188.2,188.9,189.1,189.2,189.8,190.8,191.7,191.7,NaN,NaN
58,59,69,2005,191.6,192.4,193.1,193.7,193.6,193.7,194.9,196.1,198.8,199.1,198.1,198.1,NaN,NaN
59,60,70,2006,199.3,199.4,199.7,200.7,201.3,201.8,202.9,203.8,202.8,201.9,202,203.1,NaN,NaN
60,61,71,2007,203.437,204.226,205.288,205.904,206.755,207.234,207.603,207.667,208.547,209.19,210.834,211.445,NaN,NaN
61,62,72,2008,212.174,212.687,213.448,213.942,215.208,217.463,219.016,218.69,218.877,216.995,213.153,211.398,NaN,NaN
62,63,73,2009,211.933,212.705,212.495,212.709,213.022,214.79,214.726,215.445,215.861,216.509,217.234,217.347,NaN,NaN
63,64,74,2010,217.488,217.281,217.353,217.403,217.29,217.199,217.605,217.923,218.275,219.035,219.59,220.472,NaN,NaN
64,65,75,2011,221.187,221.898,223.046,224.093,224.806,224.806,225.395,226.106,226.597,226.75,227.169,227.223,NaN,NaN
65,66,76,2012,227.842,228.329,228.807,229.187,228.713,228.524,228.59,229.918,231.015,231.638,231.249,231.221,NaN,NaN
66,67,77,2013,231.679,232.937,232.282,231.797,231.893,232.445,232.9,233.456,233.544,233.669,234.1,234.719,NaN,NaN
67,68,78,2014,235.288,235.547,236.028,236.468,236.918,237.231,237.498,237.46,237.477,237.43,236.983,236.252,NaN,NaN
68,69,79,2015,234.718,235.236,236.005,236.156,236.974,237.684,238.053,238.028,237.506,237.781,238.016,237.817,NaN,NaN
69,70,80,2016,237.833,237.469,238.038,238.827,239.464,240.167,240.15,240.602,241.051,241.691,242.029,242.772,NaN,NaN
70,71,81,2017,243.78,243.961,243.749,244.051,243.962,244.182,244.39,245.297,246.418,246.587,247.332,247.901,NaN,NaN
71,72,82,2018,248.884,249.369,249.498,249.956,250.646,251.134,251.597,251.879,252.01,252.794,252.76,252.723,NaN,NaN
72,73,83,2019,252.673,253.113,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [249]:
df_us_cpi = df_us_cpi.drop(['index', 10, 'HALF1','HALF2'], axis=1)

In [250]:
list_name = df_us_cpi.columns
list_name

Index(['Year', 'Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep',
       'Oct', 'Nov', 'Dec'],
      dtype='object', name=0)

In [251]:
df_us_cpi = df_us_cpi[list_name].astype(float)

In [252]:
df_us_cpi.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 73 entries, 0 to 72
Data columns (total 13 columns):
Year    73 non-null float64
Jan     73 non-null float64
Feb     73 non-null float64
Mar     72 non-null float64
Apr     72 non-null float64
May     72 non-null float64
Jun     72 non-null float64
Jul     72 non-null float64
Aug     72 non-null float64
Sep     72 non-null float64
Oct     72 non-null float64
Nov     72 non-null float64
Dec     72 non-null float64
dtypes: float64(13)
memory usage: 7.5 KB

In [253]:
# df_us_cpi[list_name].astype(float)
df_us_cpi['Year']=df_us_cpi['Year'].astype(int)

In [254]:
df_us_cpi
list_name

Index(['Year', 'Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep',
       'Oct', 'Nov', 'Dec'],
      dtype='object', name=0)

In [255]:
list_name=list_name[1:]

In [256]:
list_name

Index(['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct',
       'Nov', 'Dec'],
      dtype='object', name=0)

In [257]:
# df_us_cpi.loc[:,list_name].sum(axis=0)
# df_us_cpi['total_n']=df_us_cpi.loc[:,list_name].sum(axis=1)
# df_us_cpi['total_n']=df_us_cpi.loc[:,list_name].mean(axis=1)

In [258]:
df_us_cpi['USCPI']=df_us_cpi.loc[:,list_name].mean(axis=1)

In [259]:
df_us_cpi_his = df_us_cpi[['Year','USCPI']]

In [260]:
df_us_ie_his = pd.read_csv('../CapStone/ForeignEx/data/US_EU_year.csv')
df_oil_his = pd.read_csv('../CapStone/ForeignEx/data/oil_price_year.csv')
df_us_gdp_his = pd.read_csv('../CapStone/ForeignEx/data/US/US_GDP.csv')

In [261]:
master_his= df_us_cpi_his.join(df_us_gdp_his)
#df_us_gdp_his.merge(df_us_cpi_his)

In [262]:
master_his = master_his.set_index('Year').join(df_us_ie_his.set_index('year'))
#df.join(other.set_index('key'), on='key')
 # df.set_index('key').join(other.set_index('key'))

In [263]:
master_his=master_his.join(df_oil_his.set_index('Date'))

In [264]:
master_his = master_his.join(df_us_ir_his)

In [265]:
df_eu_cpi = pd.read_csv('../CapStone/ForeignEx/data/EU/EU_CPI_year.csv')
df_eu_gdp = pd.read_csv('../CapStone/ForeignEx/data/EU/EU_GDP_year.csv')

In [266]:
df_ex_rate= pd.read_csv('./data/US/Annual.csv')

In [267]:
df_eu_cpi.columns
df_eu_gdp.columns
df_ex_rate.columns

Index(['YEAR', 'EXRATEUSEU'], dtype='object')

In [268]:
master_his = master_his.join(df_eu_cpi.set_index('YEAR'))
master_his = master_his.join(df_eu_gdp.set_index('DATE'))

In [269]:
master_his=master_his.join(df_ex_rate.set_index('YEAR'))

In [270]:
master_his.sort_values('Year',ascending=False).to_csv('./data/master_test.csv')

In [271]:
master_his

,USCPI,YEAR,GDPUSD,IYR,EYR,USDBarrel,USintRate,year,EUCPI,EUGDP,EXRATEUSEU
Year,,,,,,,,,,,
1947,22.331667,1947.0,259.745,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1948,24.045000,1948.0,280.366,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1949,23.809167,1949.0,270.627,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1950,24.062500,1950.0,319.945,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1951,25.973333,1951.0,356.178,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1952,26.566667,1952.0,380.812,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1953,26.768333,1953.0,385.970,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1954,26.865000,1954.0,399.734,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1955,26.795833,1955.0,437.092,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1956,27.190833,1956.0,460.463,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1957,28.113333,1957.0,474.864,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1958,28.880833,1958.0,499.555,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1959,29.150000,1959.0,528.600,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1960,29.585000,1960.0,540.197,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1961,29.901667,1961.0,580.612,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1962,30.253333,1962.0,612.280,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1963,30.633333,1963.0,653.938,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1964,31.038333,1964.0,697.319,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1965,31.528333,1965.0,717.790,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1966,32.470833,1966.0,833.302,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1967,33.375000,1967.0,881.439,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1968,34.791667,1968.0,968.030,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1969,36.683333,1969.0,1038.147,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1970,38.841667,1970.0,1088.608,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1971,40.483333,1971.0,1190.297,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1972,41.808333,1972.0,1328.904,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1973,44.425000,1973.0,1476.289,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1974,49.316667,1974.0,1599.679,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1975,53.825000,1975.0,1761.831,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1976,56.933333,1976.0,1934.273,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
1990,130.658333,1990.0,6004.733,NaN,NaN,23.761445,NaN,NaN,NaN,NaN,NaN
1991,136.166667,1991.0,6264.540,NaN,NaN,20.041128,NaN,NaN,NaN,NaN,NaN
1992,140.308333,1992.0,6680.803,NaN,NaN,19.319728,NaN,NaN,NaN,NaN,NaN
1993,144.475000,1993.0,7013.738,NaN,NaN,17.013413,NaN,NaN,NaN,NaN,NaN
1994,148.225000,1994.0,7455.288,NaN,NaN,15.856389,NaN,NaN,NaN,NaN,NaN
1995,152.383333,1995.0,7772.586,NaN,NaN,17.015850,NaN,NaN,NaN,1463893.8,NaN
1996,156.858333,1996.0,8259.771,NaN,NaN,20.639803,NaN,NaN,NaN,1512542.2,NaN
1997,160.525000,1997.0,8765.907,160896.0000,143931.4000,19.108508,NaN,NaN,NaN,1562848.4,NaN
1998,163.008333,1998.0,9293.991,180549.8000,151967.0000,12.758103,NaN,NaN,NaN,1621257.1,NaN
1999,166.583333,1999.0,9899.378,200052.9000,154824.8000,17.901566,NaN,NaN,71.800000,1701847.6,1.007
2000,172.191667,2000.0,10439.025,226900.8000,168181.1000,28.660672,NaN,NaN,73.075000,1788666.9,0.9388
2001,177.041667,2001.0,10660.294,226568.2000,161931.0000,24.455720,2.470388,2001.0,75.433333,1861903.1,0.8901
2002,179.866667,2002.0,11071.463,232313.4000,146621.2000,24.993255,1.629800,2002.0,77.316667,1927707.1,1.0485
2003,184.000000,2003.0,11769.275,253041.7000,155170.1000,28.850814,1.019280,2003.0,78.975000,1988037.1,1.2597
2004,188.908333,2004.0,12522.425,281958.6240,171229.6400,38.259693,1.269800,2004.0,80.791667,2064852.9,1.3538
2005,195.266667,2005.0,13332.316,309627.9800,185165.9000,54.574553,2.999600,2005.0,82.616667,2153257.3,1.1842
2006,201.558333,2006.0,14037.228,330481.7000,211886.9000,65.161765,4.752320,2006.0,84.541667,2276228.1,1.3197
2007,207.344167,2007.0,14681.501,354409.2623,244165.9036,72.441160,4.408805,2007.0,86.525000,2392762.4,1.4603
2008,215.254250,2008.0,14559.543,367617.4479,271810.0855,96.944348,1.293147,2008.0,89.716667,2382895.4,1.3919
2009,214.564667,2009.0,14628.021,281800.8467,220599.3458,61.738770,0.096360,2009.0,90.616667,2340629.1,1.4332
2010,218.076167,2010.0,15240.843,319263.8226,239590.9601,79.609444,0.114542,2010.0,92.491667,2417563.2,1.3269
2011,224.923000,2011.0,15796.460,368463.9312,269068.6840,111.264274,0.039600,2011.0,95.358333,2457515.0,1.2973
2012,229.586083,2012.0,16358.863,381755.3631,265372.5075,111.570683,0.070760,2012.0,97.866667,2462334.2,1.3186
2013,232.951750,2013.0,17083.137,387510.3699,262095.3331,108.555000,0.046280,2013.0,99.358333,2506973.4,1.3779
2014,236.715000,2014.0,17838.454,420608.8378,276274.4108,98.969606,0.028200,2014.0,99.891667,2571757.1,1.2101
2015,236.997833,2015.0,18354.372,427810.2682,271911.1880,52.316549,0.036016,2015.0,100.000000,2662582.6,1.0859
2016,240.007750,2016.0,18979.245,416393.3358,269548.7079,43.638000,0.254520,2016.0,100.250000,2734266.9,1.0552
2017,245.134167,2017.0,19831.829,434632.6375,283269.2569,54.124805,0.851000,2017.0,101.958333,2844787.0,1.2022
2018,251.104167,2018.0,20891.367,487915.6285,318619.3433,71.335000,1.843012,2018.0,103.891667,2920293.4,1.1456
2019,252.893000,NaN,NaN,NaN,NaN,62.385556,2.408571,2019.0,103.800000,NaN,NaN

In [610]:
import pickle

# path = './'
with open ('forex_pic', 'rb') as file:
    pickle.dump(master_his, file)

FileNotFoundError: [Errno 2] No such file or directory: 'forex_pic'

In [5]:
df_us_import = df_us_ie_2k5.loc[df_us_ie_2k5[4].isna()]
df_us_export = df_us_ie_2k5.loc[df_us_ie_2k5[5].isna()]
df_us_both = df_us_ie_2k5.loc[~df_us_ie_2k5[4].isna() & ~df_us_ie_2k5[5].isna()]

In [29]:
gb = df_us_ie.groupby([0,1,2]).sum()
df_by = pd.DataFrame(gb)

# df_us_ie=df_us_ie.drop([3], axis=1)
df_by.columns

Int64Index([3, 4, 5], dtype='int64')

In [33]:
df_by.head()
df_us_ir.head()

         DATE VALUE
0  2001-07-31  3.67
1  2001-08-01  3.65
2  2001-08-02  3.65
3  2001-08-03  3.63
4  2001-08-06  3.62

In [41]:
df_us_ir['year']=df_us_ir['DATE'].apply(lambda x: int(x[:4]))
df_us_ir.info()
df_us_ir.head()
ser = df_us_ir.set_index('year')['VALUE']

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4553 entries, 0 to 4552
Data columns (total 3 columns):
DATE     4553 non-null object
VALUE    4553 non-null object
year     4553 non-null int64
dtypes: int64(1), object(2)
memory usage: 106.8+ KB

In [54]:
dir

In [21]:
df_by.head()
df_us_yearly = df_by.drop(3, axis=1)
df_us_yearly[]

0     1    2
1998  abw  usa    4.347535e+08
      afg  usa    1.171142e+07
      ago  usa    2.130024e+09
      aia  usa    4.168978e+05
      alb  usa    1.520175e+07
      and  usa    1.112868e+05
      ant  usa    3.956132e+08
      are  usa    5.366266e+08
      arg  usa    2.279315e+09
      arm  usa    1.119336e+07
      atf  usa    8.691959e+05
      atg  usa    8.067535e+05
      aus  usa    5.039213e+09
      aut  usa    2.464370e+09
      aze  usa    2.093998e+06
      bdi  usa    7.473559e+06
      ben  usa    3.132474e+06
      bfa  usa    8.546008e+04
      bgd  usa    1.925556e+09
      bgr  usa    1.863924e+08
      bhr  usa    1.519695e+08
      bhs  usa    2.385032e+08
      bih  usa    4.577565e+06
      blr  usa    1.305910e+08
      blx  usa    6.692466e+09
      blz  usa    7.940652e+07
      bmu  usa    2.147413e+06
      bol  usa    2.523581e+08
      bra  usa    1.037290e+10
      brb  usa    1.248111e+07
                      ...
2017  usa  tza    1.966404e+08
           uga    1.145996e+08
           ukr    2.329893e+09
           ury    9.564344e+08
           uzb    4.332531e+07
           vct    1.251135e+08
           ven    3.464164e+09
           vgb    2.038972e+08
           vnm    4.982565e+09
           vut    3.086058e+06
           wlf    1.370270e+05
           wsm    4.673340e+07
           xxb    1.117214e+10
           yem    1.921782e+08
           zaf    5.449711e+09
           zmb    1.088141e+08
           zwe    2.541907e+07
      uzb  usa    6.388175e+06
      vct  usa    5.224496e+06
      ven  usa    1.164483e+10
      vgb  usa    3.117231e+06
      vnm  usa    4.611073e+10
      vut  usa    5.354408e+06
      wlf  usa    2.259400e+04
      wsm  usa    5.358475e+06
      xxb  usa    3.730489e+10
      yem  usa    9.432389e+06
      zaf  usa    8.023121e+09
      zmb  usa    2.517072e+07
      zwe  usa    4.523361e+07
Name: 4, Length: 7426, dtype: float64

In [56]:
df_us_ie[df_us_ie[3]==20130]

             0    1    2      3             4             5
0         1998  ago  usa  20130           NaN  1.600000e+04
1032      1998  civ  usa  20130           NaN  3.206100e+04
2475      1998  dza  usa  20130           NaN  1.064000e+03
4076      1998  egy  usa  20130           NaN  1.398800e+05
7877      1998  gin  usa  20130           NaN  1.606176e+04
16296     1998  syc  usa  20130           NaN  1.201140e+03
23718     1998  are  usa  20130           NaN  9.020300e+04
27907     1998  chn  usa  20130           NaN  1.659040e+05
34766     1998  hkg  usa  20130           NaN  3.385472e+06
38545     1998  idn  usa  20130           NaN  1.425110e+03
42349     1998  ind  usa  20130  4.359400e+04           NaN
46593     1998  isr  usa  20130           NaN  1.475910e+05
49479     1998  jor  usa  20130           NaN  1.547700e+04
51094     1998  jpn  usa  20130  9.541405e+05  7.759332e+08
57430     1998  kor  usa  20130           NaN  8.935418e+05
61834     1998  kwt  usa  20130           NaN  3.772010e+05
63259     1998  lbn  usa  20130           NaN  2.771913e+05
74480     1998  phl  usa  20130           NaN  1.075240e+05
77135     1998  qat  usa  20130           NaN  2.959500e+04
77955     1998  sau  usa  20130           NaN  1.488430e+05
80267     1998  sgp  usa  20130           NaN  8.275080e+05
84485     1998  tha  usa  20130           NaN  1.141000e+05
87358     1998  tur  usa  20130           NaN  3.757400e+04
91175     1998  vnm  usa  20130           NaN  3.160200e+04
92206     1998  xxb  usa  20130           NaN  4.758108e+06
96537     1998  aut  usa  20130           NaN  1.664918e+06
103008    1998  blx  usa  20130           NaN  1.868948e+06
107144    1998  che  usa  20130           NaN  1.922366e+07
114079    1998  deu  usa  20130  1.180000e+05  4.408937e+06
118727    1998  dnk  usa  20130           NaN  6.472483e+04
...        ...  ...  ...    ...           ...           ...
12251412  2017  usa  mex  20130  6.018705e+08  5.948678e+08
12256080  2017  usa  nic  20130  5.708204e+04  3.088244e+07
12259007  2017  usa  pan  20130  1.885020e+06           NaN
12261488  2017  usa  slv  20130  5.816720e+06           NaN
12264702  2017  usa  tca  20130  3.300890e+05           NaN
12265898  2017  usa  tto  20130  3.137710e+05           NaN
12268248  2017  usa  vct  20130  7.485337e+04           NaN
12270222  2017  usa  vgb  20130  9.028090e+05           NaN
12271462  2017  usa  aus  20130           NaN  5.069064e+08
12278232  2017  usa  nzl  20130  1.364460e+05  2.559683e+07
12290801  2017  usa  bra  20130  2.803970e+05  9.220448e+05
12294474  2017  usa  chl  20130  4.151995e+07  3.410565e+05
12298071  2017  usa  col  20130  2.790701e+06           NaN
12305112  2017  usa  guy  20130  3.641610e+03           NaN
12307650  2017  usa  per  20130  4.351180e+06           NaN
12311142  2017  usa  pry  20130  7.560000e+03           NaN
12313111  2017  usa  sur  20130  2.689800e+04           NaN
12315206  2017  usa  ury  20130           NaN  2.663538e+07
12319523  2017  vct  usa  20130           NaN  7.485337e+04
12321497  2017  vgb  usa  20130           NaN  9.028090e+05
12322737  2017  aus  usa  20130  5.069064e+08           NaN
12329507  2017  nzl  usa  20130  2.559683e+07  1.364460e+05
12342076  2017  bra  usa  20130  9.220448e+05  2.803970e+05
12345749  2017  chl  usa  20130  3.410565e+05  4.151995e+07
12349346  2017  col  usa  20130           NaN  2.790701e+06
12356387  2017  guy  usa  20130           NaN  3.641610e+03
12358925  2017  per  usa  20130           NaN  4.351180e+06
12362417  2017  pry  usa  20130           NaN  7.560000e+03
12364386  2017  sur  usa  20130           NaN  2.689800e+04
12366481  2017  ury  usa  20130  2.663538e+07           NaN

[2732 rows x 6 columns]

In [4]:
df_us_import = df_us_ie.loc[df_us_ie[4].isna()]
df_us_export = df_us_ie.loc[df_us_ie[5].isna()]
# df_us_import = df_us_import.drop([4], axis=1)
# df_us_export = df_us_export.drop([5], axis=1)

In [5]:
df_us_import = df_us_ie.loc[df_us_ie[4].isna()]
df_us_export = df_us_ie.loc[df_us_ie[5].isna()]
df_us_both = df_us_ie.loc[~df_us_ie[4].isna() & ~df_us_ie[5].isna()]

In [52]:
df_us_import.count()

0    4103939
1    4103939
2    4103939
3    4103939
4          0
5    4103939
dtype: int64

In [53]:
df_us_export.count()

0    4017241
1    4017241
2    4017241
3    4017241
4    4017241
5          0
dtype: int64

In [54]:
df_us_both.count()

0    4249614
1    4249614
2    4249614
3    4249614
4    4249614
5    4249614
dtype: int64

In [ ]:
# new_df=df_us_import.join(df_us_export, on=[0,1,2,3])
new_df=pd.concat([df_us_import, df_us_export])
new_df

In [20]:
gb = df_us_ie.groupby([0,1,2]).sum()

In [33]:
df_us_ie_sum = pd.DataFrame(new_df_us_ie)
df_us_ie_sum.drop([3], axis=1)

                         4             5
0    1   2
1998 abw usa  4.347535e+08  2.448266e+08
     afg usa  1.171142e+07  4.037272e+06
     ago usa  2.130024e+09  1.686776e+08
     aia usa  4.168978e+05  9.580838e+06
     alb usa  1.520175e+07  1.844270e+07
     and usa  1.112868e+05  3.270806e+07
     ant usa  3.956132e+08  7.346264e+08
     are usa  5.366266e+08  1.599038e+09
     arg usa  2.279315e+09  6.212280e+09
     arm usa  1.119336e+07  3.044603e+07
     atf usa  8.691959e+05  5.484640e+05
     atg usa  8.067535e+05  5.292213e+07
     aus usa  5.039213e+09  9.778649e+09
     aut usa  2.464370e+09  3.082170e+09
     aze usa  2.093998e+06  9.132723e+07
     bdi usa  7.473559e+06  3.583323e+06
     ben usa  3.132474e+06  5.997634e+07
     bfa usa  8.546008e+04  1.296847e+07
     bgd usa  1.925556e+09  2.417591e+08
     bgr usa  1.863924e+08  1.948520e+08
     bhr usa  1.519695e+08  1.451327e+08
     bhs usa  2.385032e+08  9.996376e+08
     bih usa  4.577565e+06  3.056716e+07
     blr usa  1.305910e+08  1.192061e+08
     blx usa  6.692466e+09  1.173211e+10
     blz usa  7.940652e+07  1.563471e+08
     bmu usa  2.147413e+06  2.672270e+08
     bol usa  2.523581e+08  5.403535e+08
     bra usa  1.037290e+10  1.458697e+10
     brb usa  1.248111e+07  1.727801e+08
...                    ...           ...
2017 usa tza  1.966404e+08  1.274681e+08
         uga  1.145996e+08  6.907687e+07
         ukr  2.329893e+09  9.141624e+08
         ury  9.564344e+08  4.728028e+08
         uzb  4.332531e+07  6.388175e+06
         vct  1.251135e+08  5.224496e+06
         ven  3.464164e+09  1.164483e+10
         vgb  2.038972e+08  3.117231e+06
         vnm  4.982565e+09  4.611073e+10
         vut  3.086058e+06  5.354408e+06
         wlf  1.370270e+05  2.259400e+04
         wsm  4.673340e+07  5.358475e+06
         xxb  1.117214e+10  3.730489e+10
         yem  1.921782e+08  9.432389e+06
         zaf  5.449711e+09  8.023121e+09
         zmb  1.088141e+08  2.517072e+07
         zwe  2.541907e+07  4.523361e+07
     uzb usa  6.388175e+06  4.332531e+07
     vct usa  5.224496e+06  1.251135e+08
     ven usa  1.164483e+10  3.464164e+09
     vgb usa  3.117231e+06  2.038972e+08
     vnm usa  4.611073e+10  4.982565e+09
     vut usa  5.354408e+06  3.086058e+06
     wlf usa  2.259400e+04  1.370270e+05
     wsm usa  5.358475e+06  4.673340e+07
     xxb usa  3.730489e+10  1.117214e+10
     yem usa  9.432389e+06  1.921782e+08
     zaf usa  8.023121e+09  5.449711e+09
     zmb usa  2.517072e+07  1.088141e+08
     zwe usa  4.523361e+07  2.541907e+07

[7426 rows x 2 columns]

In [23]:
df_us_ie_sum.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 7426 entries, (1998, abw, usa) to (2017, zwe, usa)
Data columns (total 3 columns):
3    7426 non-null int64
4    7426 non-null float64
5    7426 non-null float64
dtypes: float64(2), int64(1)
memory usage: 214.0+ KB

In [ ]:
df_us_ie.